html {}

body {
  width: 70vw;
  height: 230vw;
  background: black;
  background-repeat: repeat;
  color: white;
  font-family: monospace;
  font-style: normal;
  text-align: center;
  list-style-position: inside;
  background-image: url(../img/recipes-pages/frame.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 3vw 2vw 3vw 2vw;
  padding-left: 13vw;
  padding-right: 13vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 80%;
  padding-block-start: 15vw;
  margin-block-end: 13vw;
  margin-inline-start: 5vw;
  margin-inline-end: 5vw;
}

.container {}

header {
  align-items: center;
  font-family: serif;
  font-size: 3vw;
}

h1 {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 2vw;
  font-weight: bold;
}

h3 {
  text-align: center;
  text-transform: capitalize;
}

ul {
  padding: 0;
}

ol {
  padding: 0;
}

.Instructions {}

.Nutritions {}

footer {
  margin-top: auto;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}